<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Skili</a>
    </div>
    <!--/.navbar-header-->
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="/users/sign_in"><i class="fa fa-user"></i><span>Login</span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list"></i><span>Courses</span></a>
          <ul class="dropdown-menu">
            <li><a href="/courses">Courses Categories</a></li>
            <li><a href="/courses">Courses list</a></li>
            <li><a href="/courses">Courses detail</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i><span>Events</span></a>
          <ul class="dropdown-menu">
            <li><a href="/events/14">Beginner skills test</a></li>
            <li><a href="/event/16">Java</a></li>
            <li><a href="/events/19">Hacking</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i><span>Search</span></a>
          <ul class="dropdown-menu search-form">
            <form>
              <input type="text" class="search-text" name="s" placeholder="Search...">
              <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
            </form>
          </ul>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <!--/.navbar-collapse-->
</nav>
<nav class="navbar nav_bottom" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header nav_2">
      <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
      <ul class="nav navbar-nav nav_1">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/trainers">Trainers</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/terms">Terms of use</a></li>
            <li><a href="/shortcodes">Shortcodes</a></li>
            <li><a href="/faq">Faq</a></li>
          </ul>
        </li>
        <li><a href="/services">Services</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/career">Career</a></li>
        <li class="last"><a href="/contact">Contacts</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
